<a href="https://colab.research.google.com/github/fabianosf/Arquitetutra/blob/master/Analise_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_csv('train.csv')
dados

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7925.0000,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
type(dados)

pandas.core.frame.DataFrame

In [ ]:
dados.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7925.0000,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
dados.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [ ]:
dados.shape

(891, 12)

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

## Manipulando Colunas com Pandas

In [ ]:
dados.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
type(dados['Survived'])

pandas.core.series.Series

## Renomeando Colunas

In [ ]:
# Tem que colocar o inplace senao fica temporario
dados.rename(columns={'PassengerId':'Id do Passageiro'}, inplace=True)

In [ ]:
dados

,Id do Passageiro,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7925.0000,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
# Fazendo copia dos dados
dados_copia = dados.copy()
dados_copia

,Id do Passageiro,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7925.0000,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
# Renomeando todas as colunas
dados_copia.rename(columns={'PassengerId': 'Id Passageiro', 'Survived':'Sobreviveu','Pclass':'Classe','Name':'Nome', 'Sex':'Sexo','Age':'Idade','SibSp':'Membros Familia',
                            'Parch':'Pais Filhos','Ticket':'Bilhete','Fare':'Valor Passagem','Cabin':'Cabine','Embarked':'Portao de Embarque'}, inplace=True)

In [ ]:
dados_copia

,Id do Passageiro,Sobreviveu,Classe,Nome,Sexo,Idade,Membros Familia,Pais Filhos,Bilhete,Valor Passagem,Cabine,Portao de Embarque
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7925.0000,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## Iterando sobre as colunas

In [ ]:
for i in dados_copia.columns:
  print(i)

Id do Passageiro
Sobreviveu
Classe
Nome
Sexo
Idade
Membros Familia
Pais Filhos
Bilhete
Valor Passagem
Cabine
Portao de Embarque

## Excluindo Coluna

In [ ]:
# Existem duas formas
del dados_copia['Id do Passageiro']

In [ ]:
dados_copia

,Sobreviveu,Classe,Nome,Sexo,Idade,Membros Familia,Pais Filhos,Bilhete,Valor Passagem,Cabine,Portao de Embarque
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7925.0000,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
# Efetuando uma nova copia de dados
dados_copia2 = dados.copy()
dados_copia2

,Id do Passageiro,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7925.0000,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
# Agora excluido de outra forma
# pode colocar mais colunas tb.
# axis=1 Ã© coluna, axis=0 Ã© linha
dados_copia2.drop(['Id do Passageiro'], axis=1, inplace=True)

In [ ]:
dados_copia2

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7925.0000,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## Filtrando dados com LOC E ILOC

In [ ]:
dados

,Id do Passageiro,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7925.0000,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
# Retornando o nome da coluna ao nome original
dados.rename(columns={'Id do Passageiro':'PassengerId'}, inplace=True)

In [ ]:
dados.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7925.0000,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## LOC

In [ ]:
# Numero das linhas: Valor Inicias ate o Valor Final
# Nome das colunas
dados.loc[15:35,['Survived','Name','Age']]

    Survived                                               Name   Age
15         1                   Hewlett, Mrs. (Mary D Kingcome)   55.0
16         0                               Rice, Master. Eugene   2.0
17         1                       Williams, Mr. Charles Eugene   NaN
18         0  Vander Planke, Mrs. Julius (Emelia Maria Vande...  31.0
19         1                            Masselmani, Mrs. Fatima   NaN
20         0                               Fynney, Mr. Joseph J  35.0
21         1                              Beesley, Mr. Lawrence  34.0
22         1                        McGowan, Miss. Anna "Annie"  15.0
23         1                       Sloper, Mr. William Thompson  28.0
24         0                      Palsson, Miss. Torborg Danira   8.0
25         1  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  38.0
26         0                            Emir, Mr. Farred Chehab   NaN
27         0                     Fortune, Mr. Charles Alexander  19.0
28         1                      O'Dwyer, Miss. Ellen "Nellie"   NaN
29         0                                Todoroff, Mr. Lalio   NaN
30         0                           Uruchurtu, Don. Manuel E  40.0
31         1     Spencer, Mrs. William Augustus (Marie Eugenie)   NaN
32         1                           Glynn, Miss. Mary Agatha   NaN
33         0                              Wheadon, Mr. Edward H  66.0
34         0                            Meyer, Mr. Edgar Joseph  28.0
35         0                     Holverson, Mr. Alexander Oskar  42.0

In [ ]:
# Quero pegar da linha 800 ate o final(:)
# E as colunas desejadas
dados.loc[800: , ['Survived','Name','Age']]

     Survived                                         Name    Age
800         0                         Ponesell, Mr. Martin  34.00
801         1  Collyer, Mrs. Harvey (Charlotte Annie Tate)  31.00
802         1          Carter, Master. William Thornton II  11.00
803         1              Thomas, Master. Assad Alexander   0.42
804         1                      Hedman, Mr. Oskar Arvid  27.00
..        ...                                          ...    ...
886         0                        Montvila, Rev. Juozas  27.00
887         1                 Graham, Miss. Margaret Edith  19.00
888         0     Johnston, Miss. Catherine Helen "Carrie"    NaN
889         1                        Behr, Mr. Karl Howell  26.00
890         0                          Dooley, Mr. Patrick  32.00

[91 rows x 3 columns]

In [ ]:
# Quero pegar do incio ate a linha 500
# E as colunas desejadas
dados.loc[:500, ['Survived','Name','Age']]

     Survived                                               Name   Age
0           0                            Braund, Mr. Owen Harris  22.0
1           1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
2           1                             Heikkinen, Miss. Laina  26.0
3           1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
4           0                           Allen, Mr. William Henry  35.0
..        ...                                                ...   ...
496         1                     Eustis, Miss. Elizabeth Mussey  54.0
497         0                    Shellard, Mr. Frederick William   NaN
498         0    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  25.0
499         0                                 Svensson, Mr. Olof  24.0
500         0                                   Calic, Mr. Petar  17.0

[501 rows x 3 columns]

## ILOC

In [ ]:
# quero da linha 5 ate a linha 15
# das colunas 1 ate a 3
dados.iloc[5:15, 1:4]

    Survived  Pclass                                               Name
5          0       3                                   Moran, Mr. James
6          0       1                            McCarthy, Mr. Timothy J
7          0       3                     Palsson, Master. Gosta Leonard
8          1       3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9          1       2                Nasser, Mrs. Nicholas (Adele Achem)
10         1       3                    Sandstrom, Miss. Marguerite Rut
11         1       1                           Bonnell, Miss. Elizabeth
12         0       3                     Saundercock, Mr. William Henry
13         0       3                        Andersson, Mr. Anders Johan
14         0       3               Vestrom, Miss. Hulda Amanda Adolfina

In [ ]:
# quero da linha 5 ate a 15
# das colunas 5 ate o final
dados.iloc[5:15, 5:]

     Age  SibSp  Parch     Ticket        Fare Cabin Embarked
5    NaN      0      0     330877      8.4583   NaN        Q
6   54.0      0      0      17463     51.8625   E46        S
7    2.0      3      1     349909  21075.0000   NaN        S
8   27.0      0      2     347742     11.1333   NaN        S
9   14.0      1      0     237736     30.0708   NaN        C
10   4.0      1      1    PP 9549     16.7000    G6        S
11  58.0      0      0     113783     26.5500  C103        S
12  20.0      0      0  A/5. 2151      8.0500   NaN        S
13  39.0      1      5     347082  31275.0000   NaN        S
14  14.0      0      0     350406      7.8542   NaN        S

In [ ]:
# quero da linha 5 ate a 15
# das colunas 0 ate a 5
dados.iloc[5:15, :5]

,PassengerId,Survived,Pclass,Name,Sex
5,6,0,3,"Moran, Mr. James",male
6,7,0,1,"McCarthy, Mr. Timothy J",male
7,8,0,3,"Palsson, Master. Gosta Leonard",male
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female
11,12,1,1,"Bonnell, Miss. Elizabeth",female
12,13,0,3,"Saundercock, Mr. William Henry",male
13,14,0,3,"Andersson, Mr. Anders Johan",male
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female

## SeleÃ§Ã£o por CondicÃ£o

In [ ]:
dados.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7925.0000,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# Busca pra mim as pessoas da 1Âª classe
dados.loc[dados['Pclass'] == 1]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [ ]:
# Busca pra mim as pessoas do sexo feminino
dados.loc[dados['Sex'] == 'female']

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7925.0000,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29125.0000,NaN,Q
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [ ]:
# Busca as pessoas com idade menor que 18 anos
dados.loc[dados['Age'] < 18 ]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21075.0000,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29125.0000,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.0,4,2,347082,31275.0000,NaN,S
852,853,0,3,"Boulos, Miss. Nourelain",female,9.0,1,1,2678,15.2458,NaN,C
853,854,1,1,"Lines, Miss. Mary Conover",female,16.0,0,1,PC 17592,39.4000,D28,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7225.0000,NaN,C

In [ ]:
# Busca pessoas que tenham a idade <= 18 e do sexo masculino
dados.loc[(dados['Age'] <=18) & (dados['Sex'] == 'male')]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21075.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29125.0000,NaN,Q
50,51,0,3,"Panula, Master. Juha Niilo",male,7.0,4,1,3101295,39.6875,NaN,S
59,60,0,3,"Goodwin, Master. William Frederick",male,11.0,5,2,CA 2144,46.9000,NaN,S
63,64,0,3,"Skoog, Master. Harald",male,4.0,3,2,347088,27.9000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
834,835,0,3,"Allum, Mr. Owen George",male,18.0,0,0,2223,8.3000,NaN,S
841,842,0,2,"Mudd, Mr. Thomas Charles",male,16.0,0,0,S.O./P.P. 3,10.5000,NaN,S
844,845,0,3,"Culumovic, Mr. Jeso",male,17.0,0,0,315090,8.6625,NaN,S
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.0,4,2,347082,31275.0000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S

In [ ]:
# Busca pessoas que tenham a idade <= 18 e do sexo masculino
# Alem disso me retorne tb o nome e o portao de embarque
# Filtro dentro de um filtro, Ã© um filtro mais avancado
dados.loc[(dados['Age'] <=18) & (dados['Sex'] == 'male')][['Name','Embarked']]

                                        Name Embarked
7             Palsson, Master. Gosta Leonard        S
16                      Rice, Master. Eugene        Q
50                Panula, Master. Juha Niilo        S
59        Goodwin, Master. William Frederick        S
63                     Skoog, Master. Harald        S
..                                       ...      ...
834                   Allum, Mr. Owen George        S
841                 Mudd, Mr. Thomas Charles        S
844                      Culumovic, Mr. Jeso        S
850  Andersson, Master. Sigvard Harald Elias        S
869          Johnson, Master. Harold Theodor        S

[71 rows x 2 columns]

In [ ]:
# Busca pessoas que tenham a idade <= 18 e do sexo masculino
# Alem disso me retorne tb o nome e o portao de embarque
# Filtro dentro de um filtro, Ã© um filtro mais avancado
# Porem agora coloquei do sexo masculino ou feminino pq nao existe masculino e feminino...
dados.loc[(dados['Age'] <=18) & (dados['Sex'] == 'male') | (dados['Sex'] == 'female')][['Name','Embarked']]

                                                  Name Embarked
1    Cumings, Mrs. John Bradley (Florence Briggs Th...        C
2                               Heikkinen, Miss. Laina        S
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)        S
7                       Palsson, Master. Gosta Leonard        S
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)        S
..                                                 ...      ...
880       Shelley, Mrs. William (Imanita Parrish Hall)        S
882                       Dahlberg, Miss. Gerda Ulrika        S
885               Rice, Mrs. William (Margaret Norton)        Q
887                       Graham, Miss. Margaret Edith        S
888           Johnston, Miss. Catherine Helen "Carrie"        S

[385 rows x 2 columns]

## Filtro por String

In [ ]:
dados.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7925.0000,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# Busque pra mim pessoas que tem o titulo de Mr no nome
dados[dados['Name'].str.contains('Mr')]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29125.0000,NaN,Q
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
# Busque pra mim pessoas que tem o titulo de Miss no nome
dados[dados['Name'].str.contains('Miss')]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7925.0000,NaN,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7225.0000,NaN,C
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [ ]:
# Traga pra mim os nomes maiores que 50 caracteres
dados[dados['Name'].str.len() > 50]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0000,NaN,S
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.0,3,0,3101278,15.8500,NaN,S
142,143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.0,1,0,STON/O2. 3101279,15.8500,NaN,S
307,308,1,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.0,1,0,PC 17758,108.9000,C65,C
319,320,1,1,"Spedden, Mrs. Frederic Oakley (Margaretta Corn...",female,40.0,1,1,16966,134.5000,E34,C
323,324,1,2,"Caldwell, Mrs. Albert Francis (Sylvia Mae Harb...",female,22.0,1,1,248738,29.0000,NaN,S
383,384,1,1,"Holverson, Mrs. Alexander Oskar (Mary Aline To...",female,35.0,1,0,113789,52.0000,NaN,S
394,395,1,3,"Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengt...",female,24.0,0,2,PP 9549,16.7000,G6,S
423,424,0,3,"Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria ...",female,28.0,1,1,347080,14.4000,NaN,S
427,428,1,2,"Phillips, Miss. Kate Florence (""Mrs Kate Louis...",female,19.0,0,0,250655,26.0000,NaN,S
432,433,1,2,"Louch, Mrs. Charles Alexander (Alice Adelaide ...",female,42.0,1,0,SC/AH 3085,26.0000,NaN,S
518,519,1,2,"Angle, Mrs. William A (Florence ""Mary"" Agnes H...",female,36.0,1,0,226875,26.0000,NaN,S
556,557,1,1,"Duff Gordon, Lady. (Lucille Christiana Sutherl...",female,48.0,1,0,11755,39.6000,A16,C
581,582,1,1,"Thayer, Mrs. John Borland (Marian Longstreth M...",female,39.0,1,1,17421,110.8833,C68,C
600,601,1,2,"Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...",female,24.0,2,1,243847,27.0000,NaN,S
608,609,1,2,"Laroche, Mrs. Joseph (Juliette Marie Louise La...",female,22.0,1,2,SC/Paris 2123,41.5792,NaN,C
610,611,0,3,"Andersson, Mrs. Anders Johan (Alfrida Konstant...",female,39.0,1,5,347082,31275.0000,NaN,S
670,671,1,2,"Brown, Mrs. Thomas William Solomon (Elizabeth ...",female,40.0,1,1,29750,39.0000,NaN,S
759,760,1,1,"Rothes, the Countess. of (Lucy Noel Martha Dye...",female,33.0,0,0,110152,86.5000,B77,S
779,780,1,1,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",female,43.0,0,1,24160,211.3375,B3,S
799,800,0,3,"Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...",female,30.0,1,1,345773,24.1500,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S

In [ ]:
# Busque pra mim o grau de parentesco igual a 1
dados[dados['SibSp'].isin([1])]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
...,...,...,...,...,...,...,...,...,...,...,...,...
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

## Filtros por Query

In [ ]:
# Busque as pessoas que sobreviveram
dados.query('Survived == 1')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7925.0000,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7225.0000,NaN,C
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [ ]:
# Busca pra mim as pessoas que sobreviveram e o nome tb.
dados.query('Survived == 1')['Name']

1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                    Nasser, Mrs. Nicholas (Adele Achem)
                             ...
875                     Najib, Miss. Adele Kiamie "Jane"
879        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880         Shelley, Mrs. William (Imanita Parrish Hall)
887                         Graham, Miss. Margaret Edith
889                                Behr, Mr. Karl Howell
Name: Name, Length: 342, dtype: object

In [ ]:
# Busca pra mim as pessoas que sobreviveram, incluindo o nome e tb a idade
dados.query('Survived == 1')[['Name','Age']]

                                                  Name   Age
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
2                               Heikkinen, Miss. Laina  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  27.0
9                  Nasser, Mrs. Nicholas (Adele Achem)  14.0
..                                                 ...   ...
875                   Najib, Miss. Adele Kiamie "Jane"  15.0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  56.0
880       Shelley, Mrs. William (Imanita Parrish Hall)  25.0
887                       Graham, Miss. Margaret Edith  19.0
889                              Behr, Mr. Karl Howell  26.0

[342 rows x 2 columns]

In [ ]:
# Filtrando por String
dados.query('Sex == "female"')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7925.0000,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29125.0000,NaN,Q
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [ ]:
# Busque pessoas com idade >=40 e que sejam do sexo feminino
dados.query('Age >= 40 & Sex == "female"')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9475.0000,NaN,S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.0,1,0,A/5. 3337,14.5000,NaN,S
161,162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.0,0,0,C.A. 33595,15.7500,NaN,S
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.0,1,4,347088,27.9000,NaN,S
177,178,0,1,"Isham, Miss. Ann Elizabeth",female,50.0,0,0,PC 17595,28.7125,C49,C
194,195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.0,0,0,PC 17610,27.7208,B4,C
195,196,1,1,"Lurette, Miss. Elise",female,58.0,0,0,PC 17569,146.5208,B80,C
254,255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.0,0,2,370129,20.2125,NaN,S
259,260,1,2,"Parrish, Mrs. (Lutie Davis)",female,50.0,0,1,230433,26.0000,NaN,S
268,269,1,1,"Graham, Mrs. William Thompson (Edith Junkins)",female,58.0,0,1,PC 17582,153.4625,C125,S
272,273,1,2,"Mellinger, Mrs. (Elizabeth Anne Maidment)",female,41.0,0,1,250644,19.5000,NaN,S
275,276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S
276,277,0,3,"Lindblom, Miss. Augusta Charlotta",female,45.0,0,0,347073,7.7500,NaN,S
299,300,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0,0,1,PC 17558,247.5208,B58 B60,C
319,320,1,1,"Spedden, Mrs. Frederic Oakley (Margaretta Corn...",female,40.0,1,1,16966,134.5000,E34,C
337,338,1,1,"Burns, Miss. Elizabeth Margaret",female,41.0,0,0,16966,134.5000,E40,C
346,347,1,2,"Smith, Miss. Marion Elsie",female,40.0,0,0,31418,13.0000,NaN,S
362,363,0,3,"Barbara, Mrs. (Catherine David)",female,45.0,0,1,2691,14.4542,NaN,C
366,367,1,1,"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)",female,60.0,1,0,110813,75.2500,D37,C
380,381,1,1,"Bidois, Miss. Rosalie",female,42.0,0,0,PC 17757,227525.0000,NaN,C
432,433,1,2,"Louch, Mrs. Charles Alexander (Alice Adelaide ...",female,42.0,1,0,SC/AH 3085,26.0000,NaN,S
440,441,1,2,"Hart, Mrs. Benjamin (Esther Ada Bloomfield)",female,45.0,1,1,F.C.C. 13529,26.2500,NaN,S
458,459,1,2,"Toomey, Miss. Ellen",female,50.0,0,0,F.C.C. 13531,10.5000,NaN,S
483,484,1,3,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134,9.5875,NaN,S
496,497,1,1,"Eustis, Miss. Elizabeth Mussey",female,54.0,1,0,36947,78.2667,D20,C
513,514,1,1,"Rothschild, Mrs. Martin (Elizabeth L. Barrett)",female,54.0,1,0,PC 17603,59.4000,NaN,C
523,524,1,1,"Hippach, Mrs. Louis Albert (Ida Sophia Fischer)",female,44.0,0,1,111361,57.9792,B18,C
526,527,1,2,"Ridsdale, Miss. Lucy",female,50.0,0,0,W./C. 14258,10.5000,NaN,S
556,557,1,1,"Duff Gordon, Lady. (Lucille Christiana Sutherl...",female,48.0,1,0,11755,39.6000,A16,C
571,572,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0,2,0,11769,51.4792,C101,S
591,592,1,1,"Stephenson, Mrs. Walter Bertram (Martha Eustis)",female,52.0,1,0,36947,78.2667,D20,C
609,610,1,1,"Shutes, Miss. Elizabeth W",female,40.0,0,0,PC 17582,153.4625,C125,S
638,639,0,3,"Panula, Mrs. Juha (Maria Emilia Ojala)",female,41.0,0,5,3101295,39.6875,NaN,S
670,671,1,2,"Brown, Mrs. Thomas William Solomon (Elizabeth ...",female,40.0,1,1,29750,39.0000,NaN,S
678,679,0,3,"Goodwin, Mrs. Frederick (Augusta Tyler)",female,43.0,1,6,CA 2144,46.9000,NaN,S
706,707,1,2,"Kelly, Mrs. Florence ""Fannie""",female,45.0,0,0,223596,13.5000,NaN,S
736,737,0,3,"Ford, Mrs. Edward (Margaret Ann Watson)",female,48.0,1,3,W./C. 6608,34375.0000,NaN,S
754,755,1,2,"Herman, Mrs. Samuel (Jane Laver)",female,48.0,1,2,220845,65.0000,NaN,S
765,766,1,1,"Hogeboom, Mrs. John C (Anna Andrews)",female,51.0,1,0,13502,77.9583,D11,S
772,773,0,2,"Mack, Mrs. (Mary)",female,57.0,0,0,S.O./P.P. 3,10.5000,E77,S
774,775,1,2,"Hocking, Mrs. Elizabeth (Eliza Needs)",female,54.0,1,3,29105,23.0000,NaN,S
779,780,1,1,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",female,43.0,0,1,24160,211.3375,B3,S
796,797,1,1,"Leader, Dr. Alice (Farnham)",female,49.0,0,0,17465,25.9292,D17,S
820,821,1,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52.0,1,1,12749,93.5000,B69,S
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0000,B28,NaN
854,855,0,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.0,1,0,244252,26.0000,NaN,S
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C

## Trabalhando com Datas

In [ ]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.10/dist-packages (0.2.28)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.23.5)
Requirement already satisfied: requests>=2.31 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.10/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.3.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (2023.7.22)

In [ ]:
import yfinance as y

In [ ]:
petrobras = y.download('petr4.sa', period='3y')

[*********************100%%**********************]  1 of 1 completed

In [ ]:
petrobras.head()

                 Open   High        Low      Close  Adj Close    Volume
Date
2020-09-08  22.500000  22.50  21.910000  22.260000   8.507913  74490200
2020-09-09  22.490000  22.77  22.490000  22.730000   8.687549  42143500
2020-09-10  22.580000  22.58  22.110001  22.120001   8.454403  58350000
2020-09-11  22.120001  22.26  21.750000  21.879999   8.362673  71013700
2020-09-14  21.940001  21.98  21.430000  21.680000   8.286233  46453300

In [ ]:
petrobras.tail()

                 Open       High        Low      Close  Adj Close    Volume
Date
2023-09-01  32.209999  32.689999  31.959999  32.630001  32.630001  50089200
2023-09-04  32.680000  32.720001  32.209999  32.290001  32.290001  21667400
2023-09-05  32.270000  33.490002  32.220001  33.369999  33.369999  75082900
2023-09-06  33.349998  33.799999  33.220001  33.520000  33.520000  57856500
2023-09-08  33.480000  33.669998  33.259998  33.400002  33.400002  39074100

In [ ]:
petrobras.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 747 entries, 2020-09-08 to 2023-09-08
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       747 non-null    float64
 1   High       747 non-null    float64
 2   Low        747 non-null    float64
 3   Close      747 non-null    float64
 4   Adj Close  747 non-null    float64
 5   Volume     747 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 40.9 KB

In [ ]:
petrobras.index

DatetimeIndex(['2020-09-08', '2020-09-09', '2020-09-10', '2020-09-11',
               '2020-09-14', '2020-09-15', '2020-09-16', '2020-09-17',
               '2020-09-18', '2020-09-21',
               ...
               '2023-08-25', '2023-08-28', '2023-08-29', '2023-08-30',
               '2023-08-31', '2023-09-01', '2023-09-04', '2023-09-05',
               '2023-09-06', '2023-09-08'],
              dtype='datetime64[ns]', name='Date', length=747, freq=None)

In [ ]:
# aqui estou fazendo um loop for no indice
[indice for indice in petrobras.index][0:10]

[Timestamp('2020-09-08 00:00:00'),
 Timestamp('2020-09-09 00:00:00'),
 Timestamp('2020-09-10 00:00:00'),
 Timestamp('2020-09-11 00:00:00'),
 Timestamp('2020-09-14 00:00:00'),
 Timestamp('2020-09-15 00:00:00'),
 Timestamp('2020-09-16 00:00:00'),
 Timestamp('2020-09-17 00:00:00'),
 Timestamp('2020-09-18 00:00:00'),
 Timestamp('2020-09-21 00:00:00')]

In [ ]:
# buscando a data especifica(ano/mes/dia)
petrobras.loc[petrobras.index == '2020-09-08']

            Open  High    Low  Close  Adj Close    Volume
Date
2020-09-08  22.5  22.5  21.91  22.26   8.507913  74490200

In [ ]:
# Buscando datas maior ou igual a '2020-09-08'
petrobras.loc[petrobras.index >= '2020-09-08']

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-09-08  22.500000  22.500000  21.910000  22.260000   8.507913  74490200
2020-09-09  22.490000  22.770000  22.490000  22.730000   8.687549  42143500
2020-09-10  22.580000  22.580000  22.110001  22.120001   8.454403  58350000
2020-09-11  22.120001  22.260000  21.750000  21.879999   8.362673  71013700
2020-09-14  21.940001  21.980000  21.430000  21.680000   8.286233  46453300
...               ...        ...        ...        ...        ...       ...
2023-09-01  32.209999  32.689999  31.959999  32.630001  32.630001  50089200
2023-09-04  32.680000  32.720001  32.209999  32.290001  32.290001  21667400
2023-09-05  32.270000  33.490002  32.220001  33.369999  33.369999  75082900
2023-09-06  33.349998  33.799999  33.220001  33.520000  33.520000  57856500
2023-09-08  33.480000  33.669998  33.259998  33.400002  33.400002  39074100

[747 rows x 6 columns]

In [ ]:
# Buscando datas que sejam menor ou igual a 2020-09-08
petrobras.loc[petrobras.index <= '2020-09-10']

             Open   High        Low      Close  Adj Close    Volume
Date
2020-09-08  22.50  22.50  21.910000  22.260000   8.507913  74490200
2020-09-09  22.49  22.77  22.490000  22.730000   8.687549  42143500
2020-09-10  22.58  22.58  22.110001  22.120001   8.454403  58350000

In [ ]:
# Busque apenas o ano
petrobras.loc[petrobras.index.year == 2020]

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-09-08  22.500000  22.500000  21.910000  22.260000   8.507913  74490200
2020-09-09  22.490000  22.770000  22.490000  22.730000   8.687549  42143500
2020-09-10  22.580000  22.580000  22.110001  22.120001   8.454403  58350000
2020-09-11  22.120001  22.260000  21.750000  21.879999   8.362673  71013700
2020-09-14  21.940001  21.980000  21.430000  21.680000   8.286233  46453300
...               ...        ...        ...        ...        ...       ...
2020-12-22  27.200001  27.469999  27.049999  27.280001  10.426587  46513200
2020-12-23  27.430000  28.250000  27.350000  27.950001  10.682666  49038900
2020-12-28  28.360001  28.520000  28.180000  28.180000  10.770573  36313300
2020-12-29  28.379999  28.430000  27.990000  28.270000  10.804973  29891100
2020-12-30  28.350000  28.490000  28.200001  28.340000  10.831726  36968200

[77 rows x 6 columns]

In [ ]:
# Busque o mes de marco
petrobras.loc[petrobras.index.month == 3]

                 Open       High        Low      Close  Adj Close     Volume
Date
2021-03-01  22.799999  23.040001  21.920000  22.000000   8.408538   90330100
2021-03-02  21.840000  22.330000  20.670000  21.990000   8.404716  147772300
2021-03-03  21.799999  21.889999  20.480000  21.190001   8.098951  185688500
2021-03-04  21.299999  22.400000  21.120001  22.219999   8.492623  127843200
2021-03-05  22.440001  23.219999  22.290001  22.389999   8.557598  126306300
...               ...        ...        ...        ...        ...        ...
2023-03-27  23.110001  23.360001  22.830000  23.180000  18.651718   39148700
2023-03-28  23.219999  23.639999  23.150000  23.590000  18.981623   29091100
2023-03-29  23.709999  24.040001  23.469999  23.900000  19.231062   49148600
2023-03-30  24.250000  24.280001  23.680000  23.969999  19.287388   56116900
2023-03-31  24.000000  24.219999  23.209999  23.450001  18.868971   59547800

[68 rows x 6 columns]

In [ ]:
# Busque o dia especifico
petrobras.loc[petrobras.index.day == 15]

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-09-15  21.980000  22.080000  21.549999  21.670000   8.282411   58546700
2020-10-15  19.620001  19.770000  19.440001  19.750000   7.548574   56952100
2020-12-15  27.620001  27.990000  27.620001  27.850000  10.644445   47208200
2021-01-15  29.049999  29.080000  28.030001  28.120001  10.747640   80673300
2021-03-15  23.110001  23.670000  23.100000  23.650000   9.039179   68295000
2021-04-15  23.700001  23.830000  23.020000  23.090000   9.122161   64193600
2021-06-15  28.959999  29.059999  28.629999  29.030001  11.468876   42597100
2021-07-15  27.490000  27.629999  26.920000  27.080000  10.698487   67982600
2021-09-15  26.000000  26.459999  25.870001  26.330000  11.021738   67274100
2021-10-15  29.799999  29.840000  29.510000  29.600000  12.390561   72479900
2021-12-15  29.100000  29.299999  28.590000  29.299999  13.777993   55085100
2022-02-15  32.660000  32.680000  31.889999  32.480000  15.273353   65689000
2022-03-15  31.139999  31.540001  30.469999  31.100000  14.624424   66272000
2022-06-15  30.000000  30.020000  28.840000  29.080000  16.670965   72785700
2022-07-15  27.700001  28.049999  27.490000  27.959999  16.028893   38610800
2022-08-15  30.879999  32.230000  30.549999  31.719999  22.331642   96759000
2022-09-15  30.920000  31.230000  30.799999  31.059999  21.866985   45553200
2022-12-15  21.000000  22.370001  20.830000  22.040001  17.734419  132385600
2023-02-15  26.580000  26.799999  26.299999  26.740000  21.516260   72554100
2023-03-15  23.330000  23.480000  22.799999  23.340000  18.780460   93708800
2023-05-15  26.059999  26.150000  25.400000  25.660000  23.198641   81996700
2023-06-15  30.200001  30.850000  29.280001  29.389999  28.310829  120579500
2023-08-15  32.049999  32.150002  30.850000  30.860001  29.726852   87366200

In [ ]:
# Condicao composta e utilizando mais filtros
# Busque pra mim o ano de 2022 e o mes de marco
petrobras.loc[(petrobras.index.year == 2022) & (petrobras.index.month == 3)]

                 Open       High        Low      Close  Adj Close     Volume
Date
2022-03-02  35.259998  35.290001  34.389999  34.669998  16.303175   58071800
2022-03-03  34.820000  34.930000  34.160000  34.240002  16.100975   69237400
2022-03-04  34.080002  34.680000  33.820000  34.230000  16.096273   55418000
2022-03-07  34.500000  34.599998  31.629999  31.799999  14.953591  110954100
2022-03-08  32.000000  32.970001  31.510000  32.459999  15.263948  111633500
2022-03-09  32.599998  32.820000  31.740000  32.560001  15.310973   87779300
2022-03-10  32.599998  34.599998  32.520000  33.700001  15.847044  136437700
2022-03-11  33.910000  34.380001  32.070000  32.490002  15.278058   92153700
2022-03-14  32.430000  32.889999  31.520000  31.870001  14.986508   52274100
2022-03-15  31.139999  31.540001  30.469999  31.100000  14.624424   66272000
2022-03-16  31.500000  31.540001  30.370001  30.830000  14.497458   72034900
2022-03-17  31.250000  31.400000  29.500000  30.010000  14.111863  178319300
2022-03-18  30.090000  30.820000  29.860001  30.610001  14.394008   93097100
2022-03-21  30.910000  32.090000  30.639999  31.760000  14.934782   67700800
2022-03-22  31.990000  32.099998  31.350000  31.620001  14.868948   56128600
2022-03-23  31.930000  32.470001  31.690001  32.049999  15.071152   52956100
2022-03-24  32.049999  32.599998  31.670000  32.419998  15.245137   49402800
2022-03-25  32.150002  32.549999  31.920000  32.299999  15.188711   51780100
2022-03-28  32.060001  32.080002  30.980000  31.600000  14.859543   68610500
2022-03-29  32.130001  32.759998  31.920000  32.299999  15.188711   93809000
2022-03-30  32.500000  32.990002  32.380001  32.990002  15.513178   69648400
2022-03-31  32.570000  33.570000  32.500000  33.450001  15.729484   94269500

# Criando Colunas

In [ ]:
# Aqui eu crio a uma coluna nova e atribuo o dia da semana
petrobras['dia_semana'] = petrobras.index.day_name()

In [ ]:
petrobras

,Open,High,Low,Close,Adj Close,Volume,dia_semana
Date,,,,,,,
2020-09-08,22.500000,22.500000,21.910000,22.260000,8.507913,74490200,Tuesday
2020-09-09,22.490000,22.770000,22.490000,22.730000,8.687549,42143500,Wednesday
2020-09-10,22.580000,22.580000,22.110001,22.120001,8.454403,58350000,Thursday
2020-09-11,22.120001,22.260000,21.750000,21.879999,8.362673,71013700,Friday
2020-09-14,21.940001,21.980000,21.430000,21.680000,8.286233,46453300,Monday
...,...,...,...,...,...,...,...
2023-09-01,32.209999,32.689999,31.959999,32.630001,32.630001,50089200,Friday
2023-09-04,32.680000,32.720001,32.209999,32.290001,32.290001,21667400,Monday
2023-09-05,32.270000,33.490002,32.220001,33.369999,33.369999,75082900,Tuesday
2023-09-06,33.349998,33.799999,33.220001,33.520000,33.520000,57856500,Wednesday
2023-09-08,33.480000,33.669998,33.259998,33.400002,33.400002,39074100,Friday

## Tratamento de Dados Faltantes

In [ ]:
dados1 = dados.copy()
dados2 = dados.copy()
dados3 = dados.copy()

In [ ]:
# False Ã© onde nao tem dados faltantas, True Ã© onde tem dados faltantes
dados.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
# 891 linha, 12 colunas
# dados.shape[0] retorna 891, dados.shape[1] retorna 12
dados.shape

(891, 12)

In [ ]:
# Aqui ele vai me retornar a porcentagem
dados.isnull().sum() / dados.shape[0] * 100

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64

In [ ]:
# Quais sao os dados que estao faltando dentro da coluna Age ?
dados.loc[dados['Age'].isnull()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7225.0000,NaN,C
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7225.0000,NaN,C
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [ ]:
# Quais sao os dados que estao faltando dentro da coluna Cabin ?
dados.loc[dados['Cabin'].isnull()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7925.0000,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21075.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29125.0000,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## Tratando os dados agora !!

In [ ]:
# onde tive NaN ele vai apagar tudo. ESTE Ã‰ UM METODO MUITO RADICAL, NAO MTO RECOMENDADO
# USE ESSE METODO QDO TIVER POUCOS DADOS..TIPO 2, 3 ,4 DADOS FALTANDO...Ã‰ MAIS INDICADO
# ACIMA DE 5% NAO USAR O DROPNA
dados1.dropna(inplace=True)

In [ ]:
dados1.shape

(183, 12)

In [ ]:
# Verificando agora
dados1.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

## Tratamento de dados faltantes !!! Metodos mais indicados!!!

In [ ]:
dados2.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
# Vou tirar a media das idades
media_idades = dados2['Age'].mean()
print(media_idades)

29.69911764705882

In [ ]:
# fillna preenche os dados faltantes com algum valor
# nesse caso usarei o valor media_idades, vou arredondar pra 30
dados2['Age'].fillna(30, inplace=True)

In [ ]:
dados2.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
# ele pega o ultimo dado valido antes do dado faltante e vai jogar pra frente
dados3['Embarked'].ffill(inplace=True)
dados3.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [ ]:
# Excluindo coluna
# axis = 1 Ã© coluna, axis = 0 Ã© igual a linha
dados3.drop(['Cabin'], axis=1, inplace = True)
dados3.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         0
dtype: int64

In [ ]:
dados3.fillna(media_idades, inplace=True)
dados3.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [ ]:
dados3.shape

(891, 11)